body {
    background-color: #1A1718;
    color: #fff;
    font-family: "Courier New", Courier, monospace;
}

a {
    color: yellow;
}

a.note {
  text-decoration: none;
}

h1 {
    text-align: left;
    padding: 20px 0;
}

p {
  text-align: left;
}

.container {
    max-width: 79ch;
    margin: 30px auto;
}

.cursor {
  animation: blinkie 1s linear infinite;
  font-weight: bold;
}

@keyframes blinkie {  
  50% {
    opacity: 0;
  }
}

code {
  display: inline-block;
  font-size: 1.2em;
  background-color: #594F52;
  border-radius: 2px;
  padding: 4px;
  margin: 2px 0px;
}
