body {
    background-color: #1A1718;
    color: #fff;
    font-family: "Courier New", Courier, monospace;
}

a {
    color: yellow;
}

h1 {
    text-align: center;
}

p {
  text-align: justify;
}

.container {
    max-width: 500px;
    margin: 30px auto;
}

.cursor {
  animation: blinkie 1s linear infinite;
  font-weight: bold;
}

@keyframes blinkie {  
  50% {
    opacity: 0;
  }
}

code {
  display: inline-block;
  background-color: #594F52;
  border-radius: 2px;
  padding: 4px;
  margin: 2px 0px;
}
